AuthType    Basic
AuthName    "piyopiyo only"
AuthUserFile    /home/users/1/punyu.jp-sunny-amami-0160/web/.htpasswd
require        valid-user


RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]